<% var page_title = page.title.replace('Homepage', 'Home'); %>
<% var settings = plugins.readJSONFile('data/settings.json') %>

<% if(page.data && page.data.seo_metatags && page.data.seo_metatags.title) { %>
    <title><%- page.data.seo_metatags.title %></title>
<% } else { %>
	<title><%- settings.seo_default_title.replace('[page]', page_title) %></title>
<% } %>

<% if(page.data && page.data.seo_metatags && page.data.seo_metatags.description) { %>
    <meta name="description" content="<%- page.data.seo_metatags.description %>" />
<% } else { %>
    <meta name="description" content="<%- settings.seo_default_description.replace('[page]', page_title) %>" />
<% } %>

<% if(page.data !== undefined && page.data.seo_no_index) { %>
	<meta name="robots" content="noindex" />
	<meta name="googlebot" content="noindex" />
<% } %>